
.icon-phone:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */